/* ******************** */
/*适用于笔记的样式*/
/* ******************** */
@font-face {
  font-family: 'LM Roman 10';
  font-style: normal;
  font-weight: normal;
  src: url("./latex/lmroman10-regular.otf");
}

@font-face {
  font-family:'LM Roman 10';
  font-style:italic;
  font-weight: normal;
  src: url("./latex/lmroman10-italic.otf");
}

@font-face {
  font-family: 'LM Roman 10';
  font-style: normal;
  font-weight:bold;
  src: url("./latex/lmroman10-bold.otf");
}

@font-face {
  font-family:'LM Roman 10';
  font-style:italic;
  font-weight:bold;
  src: url("./latex/lmroman10-bolditalic.otf");
}

@font-face {
  font-family: 'LM Roman 12';
  font-style: normal;
  font-weight: normal;
  src: url("./latex/lmroman8-regular.otf");
}

@font-face {
  font-family:'LM Roman 12';
  font-style:italic;
  font-weight: normal;
  src: url("./latex/lmroman8-italic.otf");
}

@font-face {
  font-family: 'LM Roman 12';
  font-style: normal;
  font-weight:bold;
  src: url("./latex/lmroman8-bold.otf");
}


/*中文字体*/ 
@font-face {
    font-family: 'Source Han Serif';
    font-style: normal;
    font-weight: normal;
    src: url("./latex/SourceHanSerifSC-Regular.otf");
  }

  @font-face {
    font-family: 'Source Han Serif';
    font-style: normal;
    font-weight: bold;
    src: url("./latex/SourceHanSerifSC-Bold.otf");
  }

  @font-face {
    font-family: simsun;
    src: url("./latex/simsun.ttc");
  }

  @font-face {
    font-family: STSong;
    src: url("./latex/STSONG.TTF");
  }

  @font-face {
    font-family:STZHONGS;
    src: url("./latex/STZHONGS.TTF");
  }



body{
    /* border:1px solid bxlack; for debug */
    padding:0 !important;

}
#write {
   line-height: 1.4rem;/*行距*/
   font-family:'LM Roman 12','LM Roman 10','Latin Modern Roman 12','Times New Roman',Arial, "Source Han Serif", simsun ; 
   font-size:11.6pt;
   max-width: 21.59cm;
   border: 1px solid #CCC;
}
p.md-end-block.md-p{
  margin: 9pt 0;
}
/*页边距处理，模仿标准word*/
@media screen{
  #write{
     padding:96px 96px; 
  }
}
@media print {
  @page{ 
      size: letter;
      margin: 2.54cm; /* 页边距 */
  }
}



#write p{
	text-align:left;
}
h2,h3,h4,h5,h6 {
	font-weight:bold;
    page-break-after:avoid !important;
}

blockquote {
  background-color: inherit;
  box-sizing:border-box; 
  border-color: rgb(13, 15, 49);
  margin:  20px 30px 20px 30px ;
  padding: 6px 20px 10px 20px ;
  border-radius: 2px 2px 2px 2px ; 
  box-shadow: 0.8px 0.8px 1px 1.5px #1269c5a4;  
  }
  
  /* 引用文字 */
blockquote p {
  font-family:'LM Roman 12','LM Roman 10','Latin Modern Roman 12','Times New Roman',Arial,'Source Han Serif',simsun,sans-serif;
  font-size: 11.5pt;
	color: #02101f;
}  

div.note{
  font-family:'LM Roman 12','LM Roman 10','Latin Modern Roman 12','Times New Roman',Arial,'Source Han Serif',simsun,sans-serif;
  font-size: 11.6pt;
  float: right;
  clear: both;
  /* border-radius: 3px 3px 3px 3px ;  */
  border-left: 2px solid #0e78cf;
  padding: 1px 10px 1px 10px ;
  max-width: 5cm;
  margin-left: 10px;
}

hr{
  margin-top: 24px;
  width: 80%;
  height: 1px;
  border-top: solid #ACC0D8 1px;
}

/* 标题属性 */
h1 {
  font-family:'LM Roman 12','LM Roman 10','Latin Modern Roman 12','Times New Roman','simsun';
	text-align:center;
	font-size:20pt;
}
h1.md-end-block.md-heading{
  margin: 42pt 0 24pt 0;
}
h2 {
	font-family:'LM Roman 12','LM Roman 10','Latin Modern Roman 12', 'Times New Roman','SimHei'; 
	font-size:18pt;
  line-height: 1.5rem;
}
h2.md-end-block.md-heading{
  margin: 24pt 0 9pt 0;
}

h3 {
	font-family:'LM Roman 12','LM Roman 10','Latin Modern Roman 12',  'Times New Roman','SimHei'; 
	font-size:16pt;
}
h3.md-end-block.md-heading{
  margin: 10pt 0 9pt 0;
}

h4 {
	font-family:'LM Roman 12','LM Roman 10','Latin Modern Roman 12',  'Times New Roman','SimHei'; 
	font-size:14pt;
}
h4.md-end-block.md-heading{
  margin: 10pt 0 9pt 0;
}

h5 {
	font-family:'LM Roman 12','LM Roman 10','Latin Modern Roman 12',  'Times New Roman','SimHei'; 
	font-size:12pt;
}


/* 三线表 */
#write table{
	border-top: 1.5pt solid;
	border-bottom: 1.5pt solid;
	font-family:"Source Han Serif", 'Times New Roman','simsun';
	/*font-size:7.875pt;*/
	font-size:9pt;
	text-align:center;
    page-break-inside:avoid;
}
#write table td{
	padding:7px;
}
#write table tr{
	padding:7px;
}

#write thead{
	border-bottom: 0.75pt solid;
	font-family:"Source Han Serif", 'Times New Roman','SimHei';
	font-size:9pt;
}
img{
    page-break-inside:avoid;
}

/*行内代码*/
p code, li code {
  color: rgb(60, 112, 198);
  background-color:#fefefe;
  font-family:'Latin Modern Mono 10', 'Times New Roman',Arial,'Source Han Serif',simsun,sans-serif;
  box-sizing: border-box; 
  /*border: 1px #ced8e4 solid; */
  border-right: 0px;
  margin:  0 2px 0 2px ;
  padding: 0 2px 0 2px;
  border-radius: 2px 2px 2px 2px ; 
 /**/ box-shadow: 0 0 1px 1px #c8d3df;  
}

.MathJax_SVG_Display{
  font-size: 105%;
}


ol{
  list-style-type: decimal;
}

ol ol{
  list-style-type: lower-alpha ;
}

ol ol ol{
  list-style-type: lower-roman;
}

/*下面是自动编号，初始化计数器。使用多级编号，编号后加空格模仿LaTeX */
/* 首先全局进行一次reset，这样即使不添加h1标题也可以使用较低级别的标题 */
#write{
  counter-reset: h2 0 h3 0 h4 0 h5 0 h6 0
}

#write 

h1 {
    counter-reset: h2
}

h2 {
    counter-reset: h3
}

h3 {
    counter-reset: h4
}

h4 {
    counter-reset: h5
}

h5 {
    counter-reset: h6
}

/** put counter result into headings */

#write h2:before {
    counter-increment: h2;
    content: counter(h2) " " " " 
}

#write h3:before,
h3.md-focus.md-heading:before /** override the default style for focused headings */ {
    counter-increment: h3;
    content: counter(h2) "." counter(h3)  " " " "
}

#write h4:before,
h4.md-focus.md-heading:before {
    counter-increment: h4;
    content: counter(h2) "." counter(h3) "." counter(h4)  " "
}

#write h5:before,
h5.md-focus.md-heading:before {
    counter-increment: h5;
    content: counter(h2) "." counter(h3) "." counter(h4) "." counter(h5)  " "
}


.md-toc-content{
  margin-left: 2em;
  counter-reset: toc-h2 toc-h3 toc-h4 ;/*修复缺失上级标题时无法递增*/
  page-break-after: always;
}
/*
.md-toc::before{
  content: "【目  录】";
  font-family:'LM Roman 12','LM Roman 10','Latin Modern Roman 12',Arial, "Source Han Serif", simsun ; 
  font-size:11pt;
  margin-left: 15pt !important;*/
 /* display:inline-block;
  font-weight: bold;
  width: 100%;
}*/
.md-toc-inner{
  margin-left:0 !important;
  color:black !important;
}
.md-toc-item{
  color:black !important;
  font-size: 11pt;
  font-family: "宋体";
}
/* 目录标题 */
.md-toc-content .md-toc-h1 {
  counter-reset: toc-h2;
  font-family:'LM Roman 12','LM Roman 10','Latin Modern Roman 12','simsun';
  display: none;
  font-weight: bold;
  margin-top: 4pt;
}
.md-toc-content .md-toc-h2 {
  counter-reset: toc-h3;
  font-family:'LM Roman 12','LM Roman 10','Latin Modern Roman 12','simsun';
  margin-top: 2pt;
  margin-left:8pt ;
  font-weight: bold;
}
.md-toc-content .md-toc-h3 {
  counter-reset: toc-h4;
  font-family:'LM Roman 12','LM Roman 10','Latin Modern Roman 12','simsun';
  margin-left:24pt ;
}
.md-toc-content .md-toc-h4 {
  counter-reset: toc-h5;
  font-family:'LM Roman 12','LM Roman 10','Latin Modern Roman 12','simsun';
  margin-left:42pt ;
} 
.md-toc-content .md-toc-h5 {
  counter-reset: toc-h6;
  font-family:'LM Roman 12','LM Roman 10','Latin Modern Roman 12','simsun';
  margin-left:54pt ;
} 
.md-toc-content .md-toc-h2:before {
  counter-increment: toc-h2;
  content: counter(toc-h2) "  ";
}
.md-toc-content .md-toc-h3:before {
  counter-increment: toc-h3;
  content: counter(toc-h2) "." counter(toc-h3) "  ";
}
.md-toc-content .md-toc-h4:before {
  counter-increment: toc-h4;
  content: counter(toc-h2) "." counter(toc-h3) "." counter(toc-h4) "  ";
}
.md-toc-content .md-toc-h5:before {
  counter-increment: toc-h5;
  content: counter(toc-h2) "." counter(toc-h3) "." counter(toc-h4) "." counter(toc-h5) "  ";
}
/* 大纲标题 */
.sidebar-content .outline-h1 {
  counter-reset: outline-h2;
}
.sidebar-content .outline-h2 {
  counter-reset: outline-h3;
}
.sidebar-content .outline-h3 {
  counter-reset: outline-h4;
}
.sidebar-content .outline-h4 {
  counter-reset: outline-h5;
}
.sidebar-content .outline-h5 {
  counter-reset: outline-h6;
} 

.sidebar-content .outline-h2 .outline-label:before {
  counter-increment: outline-h2;
  content: counter(outline-h2) " ";
}
.sidebar-content .outline-h3 .outline-label:before {
  counter-increment: outline-h3;
  content: counter(outline-h2) "." counter(outline-h3) "  ";
}
.sidebar-content .outline-h4 .outline-label:before {
  counter-increment: outline-h4;
  content: counter(outline-h2) "." counter(outline-h3) "." counter(outline-h4) "  ";
}
.sidebar-content .outline-h5 .outline-label:before {
  counter-increment: outline-h5;
  content: counter(outline-h2) "." counter(outline-h3) "." counter(outline-h4) "." counter(outline-h5) "  ";
}


/** override the default style for focused headings */
#write>h3.md-focus:before,
#write>h4.md-focus:before,
#write>h5.md-focus:before,
#write>h6.md-focus:before,
h3.md-focus:before,
h4.md-focus:before,
h5.md-focus:before,
h6.md-focus:before {
    color: inherit;
    border: inherit;
    border-radius: inherit;
    position: inherit;
    left:initial;
    float: none;
    top:initial;
    font-size: inherit;
    padding-left: inherit;
    padding-right: inherit;
    vertical-align: inherit;
    font-weight: inherit;
    line-height: inherit;
}